_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
2021-11-26-welcome-to-jekyll.markdown
home_image.afdesign
localserver.bat
template.md
/sdvx/eaccharts/index_Backup_2022-4-4.md
/sdvx/eaccharts/index_Backup_2022-5-2.md
/sdvx/eaccharts/index_Backup_2022-6-2.md
/sdvx/eaccharts/index_Backup_2022-7-13.md
/sdvx/eaccharts/index_Backup_Playlist.md
/sdvx/eaccharts/index_Backup_sdvxin.md
/sdvx/resources/index.md.bak
/sdvx/resources/index.md.bak.bak